@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, p {
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  list-style: none;
}

.container {
  height: 100vh;
  max-width: 1440px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 10% auto auto;
  grid-template-areas: 
    'header header'
    'statistics expense'
    'statistics history';
  gap: 20px;
}

.expense,
.history,
.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 8px;
}

.header {
  grid-area: header;
  height: 100%;
  text-align: center;
}

.expense {
  grid-area: expense;
  height: 100%;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  cursor: pointer;
  margin: 5px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding: 5px 10px;
}

.expense button {
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-self: center;
  padding: 10px;
}

.history {
  grid-area: history;
}

.history button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 22px;
  width: 22px;
}

.history button:hover {
  transform: scale(0.9);
}

.history_list {
  font-size: 14px;
  height: 100%;
  width: 380px;
  padding: 10px;
  overflow-y: scroll;
}

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;
}

.title-date {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.title-date span:nth-child(2) {
  color: #aaaaaa;
}

.amount {
  width: 60px;
}

.red {
  font-size: 18px;
  color: red;
  font-weight: 700;
}

.green {
  font-size: 18px;
  color: green;
  font-weight: 700;
}

.statistics {
  grid-area: statistics;
  justify-content: space-around;
  position: relative;
}

.statistics h4 {
  position: relative;
  top: 160px;
  left: 3px;
  margin: 0;
  padding: 0;
}

.statistics_details {
  height: 70%;
  text-align: center;
}

.statistics_details_list li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statistics_details_list span {
  font-size: 30px;
  padding: 0 30px;
  width: 10px;
}

@media (max-width: 650px) {
  .container {
    grid-template-columns: 100%;
    grid-template-rows: 5% auto auto auto;
    grid-template-areas: 
    'header'
    'expense'
    'history'
    'statistics';
  }
}