@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

:root {
  --blue: #1091e7;
  --grey: rgb(222, 222, 222);
}

body {
  margin: 0;
  font-family: 'Poppins' ,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--blue);
}

h3 {
  margin: 0;
  padding: 10px 0;
  text-align: left;
  border-bottom: 2px solid var(--grey);
}

h2 {
  text-align: center;
  margin: 35px;
  letter-spacing: 2px;
}

h4, p {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.expense-tracker {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/*-----Balance-----*/
.balance {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.balanceVal {
  font-size: 24px;
}

.income-expense {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  border: 1px solid var(--grey);
}

.income-expense div {
  padding: 17px;
  text-align: center;
  width: 100%;
}

.income-expense div:nth-child(1) {
  border-right: 1px solid var(--grey);
}

.red {
  font-size: 18px;
  color: red;
  font-weight: 700;
}

.green {
  font-size: 18px;
  color: green;
  font-weight: 700;
}

/*-----History-----*/

.history {
  margin-bottom: 30px;
}

.history_list {
  font-size: 14px;
  padding: 10px 0;
}

.history-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-wrap: break-word;
}

.title-date {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.title-date span:nth-child(2) {
  color: rgb(201 201 201);
}

.amount {
  width: 60px;
}

.history button {
  cursor: pointer;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  height: 22px;
  width: 22px;
}

.history button:active {
  transform: scale(0.9);
}

svg {
  fill: var(--blue);
}

/*-----Form-----*/

.add-expense {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

input,
select {
  cursor: pointer;
  margin: 5px 0;
  border: 1px solid var(--grey);
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 1px;
}

.add-expense button {
  margin-top: 10px;
  color: white;
  font-weight: 600;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  padding: 5px;
  border-radius: 1px;
  background-color: var(--blue);
}

.add-expense button:active {
  transform: scale(0.98);
}

footer {
  text-align: center;
  margin: 30px;
}